.catalog {

  display: grid;
  gap: 48px;
  justify-content: center;

  @each $width, $cols in $cols-to-viewport {
    @media (min-width: $width) {
      grid-template-columns: repeat($cols, $card-width);
    }
  }
  
  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }
}
